<!DOCTYPE html>
<html ng-app="app">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

	<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
	<script>
		// Initialize Firebase
		var config = {
			apiKey: "AIzaSyA4iSlM-2iNOwKgS6925jGSQAc32ebk2TI",
			authDomain: "thainayu.firebaseapp.com",
			databaseURL: "https://thainayu.firebaseio.com",
			storageBucket: "thainayu.appspot.com",
		};
		firebase.initializeApp(config);
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Angular Material requires Angular.js Libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js">

	<script src="/node_modules/requirejs/require.js"></script>
	<script src="/node_modules/monaco-editor/min/vs/loader.js"></script>
	<script src="main.js"></script>
</head>

<body ng-controller="body">
	<script>
		angular.module("app",["ngMaterial"]).controller("body",Body);
	</script>
	<div layout="row">
	        <md-select layout="column" style="width:300px" ng-model="repo" placeholder="repositories" ng-change="loadBranches(repo)">
	          <md-option ng-repeat="repo in repos track by $index" ng-value="repo">
	            {{repo.full_name}}
	          </md-option>
	        </md-select>
	        <md-select layout="column" style="width:300px" ng-model="branch" placeholder="branches" ng-change="loadBranch(branch)">
	          <md-option ng-repeat="branch in branches track by $index" ng-value="branch">
	            {{branch.name}}
	          </md-option>
	        </md-select>
	</div>
	<script type="text/ng-template" id="tree">
		{{file.path}}
		<ul ng-if="file.type=='dir'" ng-init="files = file.files">
			<li ng-repeat="file in files track by $index" ng-include="'tree'"></li>
		</ul>
	</script>
	<div layout="row">
		<ul layout="column">
			<li ng-repeat="file in files track by $index" ng-include="'tree'"></li>
		</ul>
		<div id="container" layout="column" style="width:900px;height:600px;border:1px solid grey"></div>
	</div>

</body>

</html>
